body{
    font-family: Palatino Linotype, Garamond, san-serif;
    text-align: justify;
    display: hidden;
}

.navbar .nav > li > a, .navbar .nav > li > a:first-letter,
.navbar .nav > li.current-menu-item > a, 
.navbar .nav > li.current-menu-ancestor > a {
font-size:      1.0em;
}

.responsive {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
}

img {
    padding-left: 15px;
    padding-right: 15px;
}

div .row:nth-of-type(even)  {
    background-color: lightgrey;
}
    
.container-fluid {
    display: hidden;
}


a:link { color: #00c; background: transparent;}
a:visited{ color: #609; background: transparent;}
a:active { color: #c00; background: transparent;}
a:hover { background: #ffa;}
a {
    font-size: large;
    padding-left: 10px;
    padding-right: 10px;

}

 
p {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}




h1,h2,h3{ color: #005a9c; }
h1 { font: 170%; font-family:san-serif;}
h2 { font: 140%; font-family:san-serif; display: inline;}
h3 { font: 100%; font-family:san-serif; display: inline;}
h4 { font: 100%; font-weight:bold; font-family:san-serif;}
h5 { font: 100%; font-style:italic; font-family:san-serif;}
h6 { font: 170%; font-variant:small-caps; font-family:san-serif;}


@media /*only screen and*/ (max-width: 678px) {
body {
        background-color: black;
        color: white;}   
        
        p { 
            float: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
            color: white;
        }
        
        a:link { color: white; background: transparent;}
        a:visited{ color: lightgray; background: transparent;}
        a:active { color: aqua; background: transparent;}
        a:hover { background: black;}
        a {font-size: large}
        
        
        h1,h2,h3{ color: white; }
}
    
@media (min-width:770px ) and (max-width: 991px) {
    body {
        background-color: #F0F8FF;
        color: black;
    }
}

@media (min-width:991px){
    body{
        background-color:white;
    }
    #name { font-size: 48px;}
        
}


