body{
    font-family: Palatino Linotype, Garamond, san-serif;
    color: #000000;
    background: #ffffff;
    background-image: url();
    background-position: top left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: justify;
}


#ib1{
    background-color: lavender;
}


#profilepicture {width:50px; height:50px;}

div {
    background-color: lavender;
}

a:link { color: #00c; background: transparent;}
a:visited{ color: #609; background: transparent;}
a:active { color: #c00; background: transparent;}
a:hover { background: #ffa;}
a {font-size: large}

p.rating {
    font-size: 12px;
}

h1,h2,h3,h4,h5,h6 { text-align: left; }

h1,h2,h3{ color: #005a9c; }
h1 { font: 170%; font-family:san-serif;}
h2 { font: 140%; font-family:san-serif; display: inline;}
h3 { font: 100%; font-family:san-serif; display: inline;}
h4 { font: 100%; font-weight:bold; font-family:san-serif;}
h5 { font: 100%; font-style:italic; font-family:san-serif;}
h6 { font: 170%; font-variant:small-caps; font-family:san-serif;}
